<ActionBar title="My App" icon="" class="action-bar">
</ActionBar>
<StackLayout class="p-20">
    <GridLayout rows="200" columns="auto, *, 100" class="top-grid">
        <Label text="NativeScript" textWrap="true" row="0" col="0" class="heading"></Label>
        <Label text="Angular" textWrap="true" row="0" col="2" class="heading text-right"></Label>

    </GridLayout>
    <label text="Tab the button" class="h1 text-center"></label>
    <Button text="Tap" (tap)="onTap()" class="btn btn-primary btn-active"></Button>
    <label [text]="message" class="h2 text-center" textWrap="true"></label>
</StackLayout>
